WSDL and XSD/TransactionBulkList_v0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by jclaverie@gentax.com (FAST Enterprises) -->
<xs:schema xmlns:ns2="urn:www.ird.govt.nz/GWS:types/Common.v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="qualified" vc:minVersion="1.1">
	<xs:import namespace="urn:www.ird.govt.nz/GWS:types/Common.v1" schemaLocation="./Common.v1.xsd"/>
	<xs:element name="Customers" type="Customers">
		<xs:annotation>
			<xs:documentation>Customers</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Customers">
		<xs:sequence>
			<xs:element name="Customer" type="Customer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="RetrievedDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="ClientList" type="ClientList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierTypeType"/>
	</xs:complexType>
	<xs:complexType name="ClientList">
		<xs:sequence>
			<xs:element name="Account" type="Account" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ListID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="ListIDType" type="ns2:IdentifierTypeType"/>
	</xs:complexType>
	<xs:complexType name="Account">
		<xs:sequence>
			<xs:element name="Period" type="Period" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type" type="ns2:AccountTypeType"/>
		<xs:attribute name="FilingFrequency" type="StringMax12"/>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="Commence" type="ns2:DateType"/>
		<xs:attribute name="Cease" type="ns2:DateType"/>
		<xs:attribute name="Balance" type="ns2:MoneyType"/>
		<xs:attribute name="BalanceTotalForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="MaxActivity" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:element name="PendingPayments" type="PendingPayments" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BankAccounts" type="BankAccounts" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Transfers" type="Transfers" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Bill" type="Bill" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Tx" type="Tx" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="FilingPeriod" type="ns2:DateType"/>
		<xs:attribute name="FilingFrequency" type="StringMax12"/>
		<xs:attribute name="Begin" type="ns2:DateType"/>
		<xs:attribute name="End" type="ns2:DateType"/>
		<xs:attribute name="Tax" type="ns2:MoneyType"/>
		<xs:attribute name="Penalty" type="ns2:MoneyType"/>
		<xs:attribute name="PenaltyForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Interest" type="ns2:MoneyType"/>
		<xs:attribute name="InterestForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Other" type="ns2:MoneyType"/>
		<xs:attribute name="OtherForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Credit" type="ns2:MoneyType"/>
		<xs:attribute name="CreditForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Balance" type="ns2:MoneyType"/>
		<xs:attribute name="BalanceTotalForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Activity" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="PendingPayments">
		<xs:annotation>
			<xs:documentation>Pending Payments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Payment" type="Payment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankAccounts">
		<xs:annotation>
			<xs:documentation>Bank Accounts</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BankAccount" type="TDSBankAccountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transfers">
		<xs:annotation>
			<xs:documentation>Financial Transfers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transfer" type="Transfer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payment">
		<xs:annotation>
			<xs:documentation>Payment</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PaymentID" type="xs:long"/>
		<xs:attribute name="Amt" type="ns2:MoneyType"/>
		<xs:attribute name="Pending" type="ns2:DateType"/>
	</xs:complexType>
	<xs:complexType name="TDSBankAccountType">
		<xs:complexContent>
			<xs:extension base="ns2:BankAccountType">
				<xs:sequence>
					<xs:element name="transactionID" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Transfer">
		<xs:annotation>
			<xs:documentation>Transfer</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TransID" type="xs:long"/>
		<xs:attribute name="Type" type="StringMax12"/>
		<xs:attribute name="OtherAccountID" type="ns2:IRDNumberType"/>
		<xs:attribute name="OtherAccountType" type="ns2:AccountTypeType"/>
		<xs:attribute name="OtherPeriod" type="ns2:DateType"/>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:annotation>
			<xs:documentation>Bill</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tx" type="Tx" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="BillID" type="xs:long"/>
		<xs:attribute name="BillIDForDisplay" type="xs:int"/>
		<xs:attribute name="Due" type="ns2:DateType"/>
		<xs:attribute name="Tax" type="ns2:MoneyType"/>
		<xs:attribute name="Penalty" type="ns2:MoneyType"/>
		<xs:attribute name="PenaltyForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Interest" type="ns2:MoneyType"/>
		<xs:attribute name="InterestForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Other" type="ns2:MoneyType"/>
		<xs:attribute name="OtherForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Credit" type="ns2:MoneyType"/>
		<xs:attribute name="CreditForecasted" type="ns2:MoneyType"/>
		<xs:attribute name="Balance" type="ns2:MoneyType"/>
		<xs:attribute name="BalanceTotalForecasted" type="ns2:MoneyType"/>
	</xs:complexType>
	<xs:complexType name="Tx">
		<xs:annotation>
			<xs:documentation>Transaction</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amt" type="ns2:MoneyType"/>
		<xs:attribute name="TransID" type="xs:long"/>
		<xs:attribute name="Type" type="StringMax12"/>
		<xs:attribute name="Post" type="xs:dateTime"/>
		<xs:attribute name="Effect" type="ns2:DateType"/>
		<xs:attribute name="LinkID" type="xs:long"/>
	</xs:complexType>
	<!-- PERMISSION INFORMATION -->
	<xs:element name="PermissionSummary" type="Permissions">
		<xs:annotation>
			<xs:documentation>Permission Information for </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Permissions">
		<xs:sequence>
			<xs:element name="Agent" type="PermissionAgent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Customer" type="PermissionCustomer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="RetrievedDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="PermissionAgent">
		<xs:sequence>
			<xs:element name="ClientList" type="PermissionClientList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="PermissionCustomer">
		<xs:sequence>
			<xs:element name="Account" type="PermissionClientList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="PermissionClientList">
		<xs:sequence>
			<xs:element name="LogonAccess" type="LogonAccess" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="LogonAccess">
		<xs:attribute name="myIRLogon" type="StringMax255"/>
		<xs:attribute name="AccountPermission" type="StringMax255"/>
		<xs:attribute name="AccountType" type="ns2:AccountTypeType"/>
		<xs:attribute name="AccountID" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<!-- PERMISSION INFORMATION -->
	<!-- SOFTWARE INTERMEDIATION INFORMATION -->
	<xs:element name="SoftwareIntermediationSummary" type="SoftwareIntermediationLinks">
		<xs:annotation>
			<xs:documentation>Intermediation information for a Software Intermediary</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SoftwareIntermediationLinks">
		<xs:sequence>
			<xs:element name="CustomerLink" type="SoftwareIntermediationCustomer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AgentLink" type="SoftwareIntermediationAgent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="RetrievedDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="SoftwareIntermediationCustomer">
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="AccountType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="SoftwareIntermediationAgent">
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<!-- SOFTWARE INTERMEDIATION -->
	<!-- INTERMEDIATION INFORMATION -->
	<xs:element name="IntermediationSummary" type="IntermediationLinks">
		<xs:annotation>
			<xs:documentation>Intermediation information for a Business Intermediary</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="IntermediationLinks">
		<xs:sequence>
			<xs:element name="AgencyLinks" type="Intermediation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="RetrievedDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="Intermediation">
		<xs:sequence>
			<xs:element name="ClientList" type="IntermediationClientList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="IntermediationClientList">
		<xs:sequence>
			<xs:element name="Link" type="IntermediationClientAgentLink" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<xs:complexType name="IntermediationClientAgentLink">
		<xs:attribute name="ID" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="IDType" type="ns2:IdentifierValueTypeType"/>
		<xs:attribute name="AccountType" type="ns2:IdentifierValueTypeType"/>
	</xs:complexType>
	<!-- INTERMEDIATION INFORMATION -->
	<!-- FINANCIAL FILE TRANSFERS -->
	<xs:element name="FileTransfers">
		<xs:annotation>
			<xs:documentation>File Transfers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FileTransfers"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FileTransfers">
		<xs:sequence>
			<xs:element name="FileTransfer" type="FileTransfer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="TotalTransactionCount" type="xs:long"/>
		<xs:attribute name="TotalPeriodCount" type="xs:long"/>
	</xs:complexType>
	<xs:complexType name="FileTransfer">
		<xs:sequence>
			<xs:element name="ChildFile" type="FileTransfer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="FileName" type="StringMax255"/>
		<xs:attribute name="TransactionCount" type="xs:long"/>
		<xs:attribute name="PeriodCount" type="xs:long"/>
	</xs:complexType>
	<!-- FINANCIAL FILE TRANSFERS -->
	<xs:simpleType name="StringMax12">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				String, maximum 12 characters
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMax255">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				String, maximum 255 characters
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
